header

	.navigation

		img.logo(src="/assets/img/logo.png" alt="logo")

		//nav
			ul
				a(href="#neco") Domů
				a(href="#neco") Info
				a(href="#neco") Kontakt

	.head-line

		h1 Mgr. Petr Novotný

		.button: a(href="#material") PŘEJÍT NA MATERIÁLY