header

	.navigation

		h1.logo

		nav
			ul
				a(href="#neco") Domů
				a(href="#neco") Info
				a(href="#neco") Kontakt

	.head-line

		h1 Second Hand
		h1 U Katky

		.button: a(href="#about-section") VÍCE