.kontakt-section
	h1#material VÝUKOVÉ MATERIÁLY

	.container

		.column1
			.column-one 
				a(href="#") ŠVP IT
		.dropdown-menu
			.dropdown
				a(href="#") test
				a(href="#") test
				a(href="#") test
				a(href="#") test


		.column2
			.column-two ŠVP OA

		.column3
			.column-three Studijní literatura

	.container

		.column1
			.column-one Praktická cvičení

		.column2
			.column-two Ukázkové soubory

		.column3
			.column-three Ukázkové weby

	.container

		.column1
			.column-one APLIKACE PRO ANDROID

		.column2
			.column-two SPOLUPRÁCE A PODPORA

		.column3
			.column-three PODKLADY PRO PRAXI
	.margin

