.header
	background: pink
	padding: 20px
	height: 300px

	.logo
		margin: 0
		+size(50px)
		background-color: grey
		float: left

	nav
		list-style: none
		float: right

		a
			margin-left: 20px

	h1
		text-align: center
		clear: both
		margin-top: 300px

